<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"] - SIGEBI</title>
    <link rel="stylesheet" href="@(Url.Content("~/css/site.css"))" />
</head>
<body>
    <nav class="navbar">
        <div class="container">
            <a href="/" class="logo">SIGEBI</a>
        </div>
    </nav>

    <div class="container">
        @RenderBody()
    </div>
</body>
</html>