@model SIGEBI.Web.Models.Editorial

<h1>Agregar Editorial</h1>

<form method="post">
    <div class="form-group">
        <label>Nombre</label>
        <input asp-for="nombre" class="form-control" />
    </div>
    <button type="submit" class="btn btn-success">Guardar</button>
</form>
