@{
    ViewData["Title"] = "Inicio";
}

<h1>Sistema de Gestión SIGEBI</h1>
<p>Seleccione una sección:</p>

<div class="grid">
    <a href="/Autores">Autores</a>
    <a href="/Editoriales">Editoriales</a>
    <a href="/Libros">Libros</a>
    <a href="/LibroAutores">Libro-Autores</a>
    <a href="/Usuarios">Usuarios</a>
    <a href="/Roles">Roles</a>
    <a href="/Prestamos">Préstamos</a>
    <a href="/Reservaciones">Reservaciones</a>
    <a href="/Penalizaciones">Penalizaciones</a>
    <a href="/Notificaciones">Notificaciones</a>
</div>